header{
    background-color: black;
}
div#heroPage.row{
    background-image: url(images/hero.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: top right
}